.name {
  color: rgb(255, 255, 255);
  animation-duration: 0.5s;
  animation-name: slidein; /* keyframes ile slidein bağlantısı */
  animation-delay: 0.1s; /*  delay */
  animation-iteration-count: infinite; /* tekrarlama */
  animation-direction: alternate-reverse; /* sağa doğru içe girme hareketi  */
}

@keyframes slidein {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: #0000;
    color: rgb(255, 255, 255);
  }
}
