@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Courgette&family=Great+Vibes&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Pacifico&family=Righteous&family=Staatliches&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.name {
  margin-right: 15px;
  letter-spacing: 2px;
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  animation-duration: 0.5s;
  animation-name: slidein; /* keyframes ile slidein bağlantısı */
  animation-delay: 0.1s; /*  delay */
  animation-iteration-count: infinite; /* tekrarlama */
  animation-direction: alternate-reverse; /* sağa doğru içe girme hareketi  */
}

@keyframes slidein {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: #0000;
    color: rgb(255, 255, 255);
  }
}
